html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Questrial, sans-serif;
  font-weight: 300;
  font-size: 17;
  color: white;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*   Submit Button    */
input {
  border: 0;
  background: none;
}
input[type="button"] {
  background: #314f7e;
  color: white;
  font-family: inherit;
  font-size: xx-large;
  box-shadow: none;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  top: 5px;  
  transition: background 0.25s linear;
}

input[type="button"]:hover {
  background: #0062a8;
  transition: all 0.25s ease;
}

/*   Links    */
a {
  color: white;
  text-decoration: none;
}


/*   Page Logo    */
.titleimg img {
  margin: 10px;
  position: relative;
  max-width: 550px;  
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.25s ease;
}
.titleimg img:hover, footer img:hover {
  border-color:  rgba(255, 255, 255, 1);
}

/*   Subtitle after Page Logo    */
.subtitle {
  margin: 10px;
  position: relative;
  font-size: larger;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

/*   Box that holds the conversion options    */
.option_wrapper_box {
  display: block;
  border-radius: 20px;
  background-color: #161925;
  position: relative;
  margin: 0 auto;
  max-width: 30%;
  padding: 15px;
}

/*  select options that are inside the option wrapper box above     */
select {
  color: black;
}

/*   Error messages    */
.error {
  position: relative;
  border-radius: 5px;
  width: 50%;
  height: auto;
  margin: 0px auto;
  padding: 0 15px;
  font-size: larger;
  background-color: #161925;
  color: rgb(250, 99, 99);
}

/*   File choosing menu    */
.fileuploadbox {
  font-family: inherit;
  font-size: large;
  margin: 10px;
}

/*   Download links    */
.downloadlink {
  font-size: larger;
  width: 75%;
  margin: 2.5px auto;
  padding: 10px;
  background-color: #314f7e;
  border-radius: 5px;
}
.downloadlink:hover{
  background: #406e8e;
  transition: all 0.25s ease-in-out;
}


/*   Box in which the converted text is shown    */
iframe {
  background-color: white;
  text-align: center;
  width: 90%;
  height: 80%;
}

/*  Text inside the iframe    */
.data {
  display: flex;
  overflow: hidden;
  border: 2px solid rgb(199, 199, 199);
  padding: 10px 0;
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
  background-color: #333;
  color: white;
  font-family: Source Code Pro, monospace;
}

/*  Converted image    */
.output-img {
  position: relative;
}

/*   Wrapper box for the page body    */
#page-content-container{
  margin-bottom: 53px;
  min-height: 100%;
  overflow: auto;
}

/*   Titles that show after conversion i.e. "Your converted image" etc    */
.result-title{
  margin: 10px;
  position: relative;
  font-size: 72; 
  padding: 50px; 
  font-weight:900; 
  margin-top:100px;
}

/*   Results are in a 3 column layout.    */
/*    Result-image   | Errors(if any) | Download Links    */
.column {
  float: left;
  margin: 0 auto;
  width: 50%;
  padding: 0px;
}
.center,.right {
  width: 20%;
}

.left {
  width: 50%;  
  border-right: 3px solid white;
}
.left img {
  max-width: 400px;
  max-height: 400px;
  object-fit: fill;
  overflow: hidden;
}

/*   Footer    */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #161925;
  text-align: center;
  overflow: hidden;
}
footer ul {
  margin: 0;
  list-style-type: none;
}
footer li {
  padding: 10px 40px;
  vertical-align: middle;
  display: inline-block;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #5797ff;
  transition: color 0.25s ease-in-out;
}
footer img {
  max-width: 200px; 
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.25s ease;
}

/*    For mobile    */
@media screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
    font-size: 3.5vw;
  }
  body {
    position: relative;
  }
  .titleimg img {
    max-width: 350px;
  }
  .option_wrapper_box {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 85%;
  }
  .fileuploadbox {
    font-size: 3.5vw;
  }

  #result-box{
    box-sizing: border-box;
    margin: 30px;
  }

  .result-title{
    padding: 0;
    margin: 0;
    font-size: 50;
    text-align: center;
  }

  
.left {
  border-right:none;
}
  footer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  footer li {
    
    display: block;
    padding: 10px 40px;
  }
  footer ul {
    padding: 0;
    text-align: left;
    list-style-type: none;
  }
  footer img {
    max-width: 150px;
  }

  .column {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    height: auto;
  }
  .left, .center, .right{
    padding: 15px 0;
    width: 100%;
  }
  .left img {
    max-width: 300px;
    max-height: 300px;
    object-fit: fill;
    overflow: hidden;
  }

  .data{
    max-width: 300px;
    max-height: 300px;
  }
}
