{% extends "layout.html" %}
{% block body %}
{% if errors != " " %}
<span class="error" style="position: absolute; left:100px; top:300px;">
    <p style="color: white; font-size: large;">Errors faced while processing:</p>
    <p>{{ errors }}</p>
</span>
{% endif %}
{% if type == 'img' %}
<p class="subtitle">The converted image is:</p>
<div class="output-img">
    <blockquote class="imgur-embed-pub" lang="en" data-id="{{ output_file }}" data-context="false"><a
            href="//imgur.com/{{ output_file }}"></a></blockquote>
    <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    </div>
<span class="downloadlink" style="top: 300px;right: 100px;">
    <a href="//imgur.com/download/{{ output_file }}/">Download image</a>
</span>
{% else %}
<span class="downloadlink" style="top: 300px;right: 100px;">
    <a href="{{ dl_link }}">Download .txt file</a>
</span>
<span class="downloadlink" style="top: 375px;right: 100px;">
    <a href="{{ raw_link }}">View raw text</a>
</span>
<p class="subtitle">The converted text is:</p>
<pre>
    <div class="data" style="font-size: {{ size }};">
{{ output_file }}
    </div>
    </pre>
{% endif %}
</div>
{% endblock %}